{% extends "base.html" %} {%block title%} Detail {{recipe.title}} {%endblock%}
{%block content%} {% load static %}

<div class="container">
  <div class="recipe-info mt-3 p-1">
    <div class="recipe-detail">
      <h1 class="text-center">{{ recipe.title }}</h1>
      <p class="text-center">
        Created by: {{recipe.user}} on {{recipe.posted_date}}
      </p>
      <hr />
      <p class="p-1">
        <img
          src="{% static '/icons/catering-icon.svg' %}"
          alt="dish icon"
          class="food-icon"
        /><span class="heading">Dish Type:</span> {{ recipe.dish_type }}
      </p>
      <p class="p-1">
        <img
          src="{% static '/icons/quick-icon.svg' %}"
          alt="time icon"
          class="food-icon"
        /><span class="heading">Prep Time:</span> {{ recipe.prep_time|title }}
      </p>
      <p>
        <img
          src="{% static '/icons/food-icon.svg' %}"
          alt="food icon"
          class="food-icon"
        />{{recipe.description}}
      </p>

      {% if request.user == recipe.user %}
      <div class="text-center">
        <a href="{% url 'edit_recipe' recipe.id %}" class="btn form-btn mt-25"
          >Edit</a
        >
        <a href="{% url 'delete_recipe' recipe.id %}" class="btn form-btn mt-25"
          >Delete</a
        >
      </div>
      {% endif %}
    </div>

    <div class="recipe-img">
      <img
        src="{{ recipe.image.url }}"
        alt="{{ recipe.image_alt }}"
        class="recipe-pic"
      />
    </div>
  </div>
  <div class="recipe-container">
    <div class="ingredients p-3">
      <h2>Ingredients</h2>
      <p>{{ recipe.ingredients|safe }}</p>
    </div>
    <div class="method p-3">
      <h2>Method</h2>
      <p>{{ recipe.method|safe }}</p>
    </div>
  </div>
</div>
{% endblock %}
