{% extends "base.html"%}{%block title %}Delete{{ object.title }}{%endblock%}
{%block content %} {% load static %}
<div class="container">
  <h1 class="text-center mt-2">Confirm Recipe Deletion</h1>
  <div class="d-flex justify-content-center pt-3">
    <form method="post" class="text-center">
      {% csrf_token %}
      <p>
        Are you 100% certain you want to throw "{{ object.title }}" into the
        rubbish?
      </p>
      <input type="submit" value="Confirm" class="btn form-btn w-25" />
    </form>
  </div>
</div>

<div class="container mt-3">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
