@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playfair+Display:wght@600&display=swap');

:root {
    /** Fonts */
    --title: 'Playfair Display', serif;
    --main-font: 'Montserrat', serif;

    /* Colours */
    --green: #8ca65f;
    --pink: #d3b3db;
    --mud: #a4a49c;
    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #ebebeb;
    --white: #fff;

    /* Utils */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

/* Body */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
    color: var(--green);
}

/* Header */
.navbar {
    background-color: var(--off-white);
    box-shadow: var(--smal-box-shadow);
}

a.nav-link {
    color: var(--black);
    font-size: larger;
}

.nav-link:hover {
    color: var(--green);
    font-weight: bolder;

}

a {
    color: var(--green);
}

/* Search */
.btn-custom {
    background-color: var(--off-white);
    border-color: var(--mud);
    color: var(--black);
}

.btn-custom:hover {
    background-color: var(--white);
    border-color: var(--mud);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}


/* Footer */

footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1.5rem;
}

.active {
    border-bottom: 2px solid var(--green);
    font-weight: 500;
}

/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
}

.form-btn {
    background-color: var(--green);
}

.form-btn:hover {
    background-color: var(--off-white);
    border-color: var(--green);
}

/* Recipes */
.card {
    height: 90%;
    margin-top: 1rem;
}

.recipes {
    text-decoration: none;
    color: var(--black);
}

.recipes:hover {
    cursor: pointer;
    color: var(--green);
}

.card-title {
    color: var(--pink);
}

.recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-container {
    display: flex;
    flex-direction: column;
}

.ingredients,
.method,
.recipe-detail {
    width: 100%;
}

.recipe-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-pic {
    width: 100%;
    height: auto;
}

.types {
    text-decoration: underline;
}

@media screen and (min-width: 62.5em) {

    .recipe-info {
        flex-direction: row;
        border: 1px solid var(--black);
    }

    .recipe-img {
        width: 40%;
        margin: 0, auto;
    }

    .recipe-detail {
        width: 60%;
        padding: 2rem;
    }

    .recipe-container {
        flex-direction: row;
    }

    .ingredients {
        width: 33.33%;
    }

    .method {
        width: 66.66%;
    }
}