{% load static %}
<!-- Countdown-->
<section>
  <hr />
  <div class="countdown">
    <h3 id="veg">Veganuary 2024 is coming soon!</h3>
    <div class="launch-time">
      <div>
        <p id="days">00</p>
        <span>Days</span>
      </div>
      <div>
        <p id="hours">00</p>
        <span>Hours</span>
      </div>
      <div>
        <p id="minutes">00</p>
        <span>Minutes</span>
      </div>
      <div>
        <p id="seconds">00</p>
        <span>Seconds</span>
      </div>
    </div>
  </div>
</section>
<footer>
  <!-- Social media icons-->
  <a
    href="https://www.linkedin.com/in/ilaria-burani-89216132/"
    target="_blank"
    rel="noopener"
    aria-label="LinkedIn - Opens in a new tab"
    ><img
      src="{% static 'icons/linkedin-app-icon.svg' %}"
      alt="LinkedIn Icon"
      class="social-icon"
    />
  </a>
  <a
    href="https://www.instagram.com/"
    target="_blank"
    rel="noopener"
    aria-label="Instagram - Opens in new tab"
  >
    <img
      src="{% static 'icons/instagram-like-icon.svg' %}"
      alt="Instagram Icon"
      class="social-icon"
    />
  </a>
  <a
    href="https://github.com/Ila-bura"
    target="_blank"
    rel="noopener"
    aria-label="Github - Opens in new tab"
  >
    <img
      src="{% static 'icons/github-icon.svg' %}"
      alt="Github Icon"
      class="social-icon"
    />
  </a>
</footer>
