{% extends 'base.html' %} {% block title %}Home{% endblock %}{% block content %}

<div class="container flex-column pt-3">
  <section class="text-center">
    <h1 class="main-title mx-auto">Get ready for Veganuary 2024!</h1>
    <p class="pt-4">
      If you are considering eating more veggies or trying out a completely
      plant-based diet next year but you need a bit of encouragement, you're in
      the right place! With C'est la V you can create and store your favourite
      vegan recipes and serach our databate to find new ideas and get inspired
      to try something new.
    </p>
  </section>
  <section>
    <div class="recipe-wrapper">
      {% for recipe in recipes %}
      <a href="{% url 'recipe_detail' recipe.id %}" class="image-container">
        <img
          src="{{recipe.image.url}}"
          alt="{{recipe.image_alt}}"
          style="width: 100%"
        />
        <div class="label">
          <h2>{{recipe.title}}</h2>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}
