{% extends 'base.html' %} {% block title %}Home{% endblock %}{% block content %}
{% load static %}
<div class="container flex-column pt-3">
  <section class="text-center">
    <h2 class="main-title mx-auto">C'est la V - Veganise your life!</h2>
    <p class="pt-4">
      Thinking of switching to a plant-based diet and need a bit of
      encouragement? Look no further!
    </p>
    C'est la V let vegan food lovers create and share your favourite recipes.
    Search our database for something yummy or sign up and create your own!
    <p class="pt-4"></p>
  </section>
  <section>
    <div class="recipe-wrapper">
      {% for recipe in recipes %}
      <a href="{% url 'recipe_detail' recipe.id %}" class="image-container">
        <img
          src="{{recipe.image.url}}"
          alt="{{recipe.image_alt}}"
          style="width: 100%"
        />
        <div class="label">
          <h3>{{recipe.title}}</h3>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}
