{% extends 'base.html' %}{% load static %}{% block title %} Contact {%endblock%}
{% block content %}

<section>
  <div class="container-fluid px-4 px-lg-5">
    <h2 class="mb-4 mt-3 text-center top-text">Contact Us</h2>
    <hr />
  </div>
</section>

<!-- Contact form -->

<div class="container">
  <div id="contact" class="card-body">
    <div class="card contact-form">
      <div class="card-body">
        <form method="post">
          {{ contact_form | crispy }} {% csrf_token %}
          <br />
          <button type="submit" class="btn main-btn btn-custom">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
