{% extends 'base.html' %}{% load static %}{% block title %} Contact {%endblock%}
{% block content %}

<section>
  <div class="container-fluid px-4 px-lg-5">
    <h2 class="mb-4 mt-3 text-center top-text">Contact Us</h2>
    <hr />
  </div>
</section>

<!-- Contact form -->

<div class="container d-flex justify-content-center">
  <div id="contact">
    <div class="container card-body">
      <div class="row">
        <div class="card col-6 col-md-12 contact-form">
          <div class="card-body">
            <form method="post">
              {{ contact_form | crispy }} {% csrf_token %}
              <br />
              <button type="submit" class="btn main-btn btn-custom">
                Send
              </button>
            </form>
          </div>
        </div>
        <div id="map" class="col-12 col-md-6"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
